.cotainer {
  min-width: 1200px;
  width: 1200px;
  margin: 0 auto;
}
.cotainer .background {
  background-color: #00483d;
  border-radius: 11px;
  padding: 10px 20px 10px 20px;
  color: #fff;
}
.cotainer .background .column-content {
  display: flex;
}
.cotainer .background .column-content .content-1 {
  flex-direction: column;
  width: 16.6666%;
}
.cotainer .background .column-content .content-2 {
  flex-direction: column;
  width: 16.6666%;
}
.cotainer .background .column-content .content-3 {
  flex-direction: column;
  width: 16.6666%;
}
.cotainer .background .column-content .content-4 {
  flex-direction: column;
  width: 16.6666%;
}
.cotainer .background .column-content .content-4 .hotline {
  text-decoration: none;
  display: inline-block;
  padding: 6px 10px;
  background: #fff;
  border-radius: 4px;
  color: #00483d;
  font-weight: 500;
}
.cotainer .background .column-content .content-5 {
  flex-direction: column;
  width: 16.6666%;
}
.cotainer .background .column-content .content-5 .list-logo {
  padding: 10px;
}
.cotainer .background .column-content .content-5 .list-logo li {
  display: flex;
  padding-bottom: 5px;
}
.cotainer .background .column-content .content-6 {
  flex-direction: column;
  width: 16.6666%;
}
.cotainer .background .column-content .content-6 .list-logo li {
  display: flex;
}
h4 {
  font-size: 17px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 3px;
  display: list-item;
  font-size: 13px;
}
